<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>996851553930-05iaou9o6rmk831vhml8iaoupcvu4ul5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.996851553930-05iaou9o6rmk831vhml8iaoupcvu4ul5</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>996851553930-34b8cjgj3jnngjefa51st68t7a4aai18.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD-9QQ3rjYYVkpZ4U-HAWLG6mBzm3oeGLU</string>
	<key>GCM_SENDER_ID</key>
	<string>996851553930</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sampleproject</string>
	<key>PROJECT_ID</key>
	<string>supervision-59383</string>
	<key>STORAGE_BUCKET</key>
	<string>supervision-59383.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:996851553930:ios:21ce4f4bf75c85ca783f73</string>
</dict>
</plist>